<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="rhino.esb" type="Rhino.ServiceBus.Config.BusConfigurationSection, Rhino.ServiceBus" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>
  <!-- Rhino Service Bus -->
  <rhino.esb>
    <bus threadCount="1" numberOfRetries="5" endpoint="msmq://localhost/RhinoServiceBusSaga.Client" />
    <messages>
      <add name="Events" endpoint="msmq://localhost/RhinoServiceBusSaga.Client" />
    </messages>
  </rhino.esb>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
        <arg key="level" value="INFO" />
        <arg key="showLogName" value="false" />
        <arg key="showDateTime" value="false" />
        <arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:fff" />
      </factoryAdapter>
    </logging>
  </common>
</configuration>